<%= form_for @sheet do |s| %>

  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sheet.errors.count, "error") %> prevented this sheet from being saved.</h2>
      <ul>
      <% @sheet.errors.full_messages.each do |msg| %>
        <%= msg %>. 
      <% end %>
      </ul>
    </div>
  <% end %>

  <div id="form_container">
    <table id = "checkbox_container">
      <tr class = "checkbox">
        <td class = "checkbox_label field_name">SENS</td>
        <td class = "checkbox_box"><%= s.check_box :sens%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">FLAMES</td>
        <td class = "checkbox_box"><%= s.check_box :flames%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">OILERS</td>
        <td class = "checkbox_box"><%= s.check_box :oilers%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">VAN HKY</td>
        <td class = "checkbox_box"><%= s.check_box :van_hky%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">WORLD</td>
        <td class = "checkbox_box"><%= s.check_box :world%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">ONE</td>
        <td class = "checkbox_box"><%= s.check_box :one%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">EAST</td>
        <td class = "checkbox_box"><%= s.check_box :east%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">ONTARIO</td>
        <td class = "checkbox_box"><%= s.check_box :ontario%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">WEST</td>
        <td class = "checkbox_box"><%= s.check_box :west%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">PACIFIC</td>
        <td class = "checkbox_box"><%= s.check_box :pacific%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">360</td>
        <td class = "checkbox_box"><%= s.check_box :is_360%></td>
      </tr>

      <tr class = "checkbox">
        <td class = "checkbox_label field_name">SNIPE?</td>
        <td class = "checkbox_box"><%= s.check_box :snipe_required%></td>
      </tr>
    </table>

    <div id = "noncheck_container">
      <div id = "above_table">
        <div class = "property">
          <div class = "field_name">PROPERTY</div>
          <div class = "entry_area"><%= s.text_field :property_name, autocomplete: "off" %></div>
        </div>

        <div class = "teamname">
          <div class="field_name">TEAM 1</div>
          <div class="entry_area"><%= s.text_field :team1, autocomplete: "off" %></div>
          <div class="field_name">TEAM 2</div>
          <div class="entry_area"><%= s.text_field :team2, autocomplete: "off" %></div>
        </div>


        <div id = "weekdayboxes">
          <div class = "field_name">WEEKDAYS</div>
          <div class = "entry_area">
            <%= s.select :weekday1, options_for_select(["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY","TODAY","TONIGHT","TOMORROW"], @sheet.weekday1), {include_blank: true} %>
          </div>
          <div class = "entry_area">
            <%= s.select :weekday2, options_for_select(["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY","TODAY","TONIGHT","TOMORROW"], @sheet.weekday2), {include_blank: true} %>
          </div>
          <div class = "entry_area">
            <%= s.select :weekday3, options_for_select(["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY","TODAY","TONIGHT","TOMORROW"], @sheet.weekday3), {include_blank: true} %>
          </div>
        </div>

        <div id = "airtimes">
          <div class="field_name">AIRTIMES</div>
          <%= s.fields_for :airtimes do |airtime_form| %>
              <div class = "airtime_entry_area entry_area"><%=airtime_form.time_field :time %></div>
              <div class = "timezone_entry_area entry_area">
                <%=airtime_form.select :timezone, options_for_select(["ET","MT","PT"], @sheet.airtimes[airtime_form.index].timezone), {include_blank: true}%>
              </div>
          <% end %>
        </div>


        <div class = "datefield">
          <div class="field_name">EVENT DATE</div>
          <div class="entry_area"><%= s.date_field :event_date %></div>
          <div class="field_name">DUE DATE</div>
          <div class="entry_area"><%= s.date_field :due_date %></div>
        </div>

        <div class = "notefield">
          <div class="field_name">NOTE</div>
          <div class="entry_area"><%= s.text_field :note %></div>
        </div>
      </div>

      <div id = "promorowcontainer">
        <!--ROW SECTION-->
        <table>
          <tr>
            <td class="field_name length_column">Length</td>
            <td class="field_name quantel_column">Quantel Name</td>
            <td class="field_name s4m_column">S4M Name</td>
            <td class="field_name mcr_column">MCR #</td>
            <td class="field_name purge_column">Purge Date</td>
          </tr>
          <%= s.fields_for :promos do |promo_form| %>
            <tr>
              <td class="entry_area length_column">
                <%#=promo_form.label :length%>
                <%=promo_form.text_field :length%>
              </td>
              <td class="entry_area quantel_column">
                <%#=promo_form.label :quantel_name%>
                <%=promo_form.text_field :quantel_name%>
              </td>
              <td class="entry_area s4m_column">
                <%#=promo_form.label :s4m_name%>
                <%=promo_form.text_field :s4m_name%>
              </td>
              <td class="entry_area mcr_column">
                <%#=promo_form.label :mcr_number%>
                <%=promo_form.text_field :mcr_number%>
              </td>
              <td class="entry_area purge_column">
                <%#=promo_form.label :purge_date%>
                <%=promo_form.date_field :purge_date%>
              </td>
            </tr>
          <% end %>
        </table>
        <div id = "form_bottom">
          <% if current_user %>
            <%= s.submit %>
            <button>
              <%= link_to "Cancel", sheets_path %>
            </button>
          <% else %>
            <button>
              <%= link_to "Back", sheets_path %>
            </button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<% if @property_names %>
  <script>
    $( "#sheet_property_name" ).autocomplete({source: <%= raw @property_names%>});
  </script>
<% end %>

<% if @teamnames %>
  <script>
    $( "#sheet_team1").autocomplete({source: <%= raw @teamnames%>});
    $( "#sheet_team2").autocomplete({source: <%= raw @teamnames%>});
  </script>
<% end %>