<%= form_for @sheet do |s| %>

  <% if @sheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prevented this sheet from being saved.</h2>
      <ul>
      <% @sheet.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class = "property">
    <%= s.label :property_name %>
    <%= s.text_field :property_name %>
  </div>
  
  <div class = "checkbox">
    <%= s.label :sens%>
    <%= s.check_box :sens%>
  </div>

  <div class = "checkbox">
    <%= s.label :flames%>
    <%= s.check_box :flames%>
  </div>

  <div class = "checkbox">
    <%= s.label :oilers%>
    <%= s.check_box :oilers%>
  </div>

  <div class = "checkbox">
    <%= s.label :van_hky%>
    <%= s.check_box :van_hky%>
  </div>

  <div class = "checkbox">
    <%= s.label :world%>
    <%= s.check_box :world%>
  </div>

  <div class = "checkbox">
    <%= s.label :one%>
    <%= s.check_box :one%>
  </div>

  <div class = "checkbox">
    <%= s.label :east%>
    <%= s.check_box :east%>
  </div>

  <div class = "checkbox">
    <%= s.label :ontario%>
    <%= s.check_box :ontario%>
  </div>

  <div class = "checkbox">
    <%= s.label :west%>
    <%= s.check_box :west%>
  </div>

  <div class = "checkbox">
    <%= s.label :pacific%>
    <%= s.check_box :pacific%>
  </div>

  <div class = "checkbox">
    <%= s.label :is_360%>
    <%= s.check_box :is_360%>
  </div>

  <div class = "checkbox">
    <%= s.label :snipe_required%>
    <%= s.check_box :snipe_required%>
  </div>

  <div id = "weekdayboxes">
    <%= s.label :weekday1%>
    <%= s.select :weekday1, options_for_select(["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY","TODAY","TONIGHT","TOMORROW"]), {include_blank: true} %>
    <%= s.label :weekday2%>
    <%= s.select :weekday2, options_for_select(["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY","TODAY","TONIGHT","TOMORROW"]), {include_blank: true} %>
    <%= s.label :weekday3%>
    <%= s.select :weekday3, options_for_select(["MONDAY","TUESDAY","WEDNESDAY","THURSDAY","FRIDAY","SATURDAY","SUNDAY","TODAY","TONIGHT","TOMORROW"]), {include_blank: true} %>
  </div>

  <div id = "airtimes">
    <%= s.fields_for :airtimes do |airtime_form| %>
      <div class = "airtime">
        <%=airtime_form.label :time%>
        <%=airtime_form.time_field :time %>
        <%=airtime_form.label :timezone %>
        <%=airtime_form.text_field :timezone%>
      </div>
    <% end %>
  </div>

  <div class = "teamname">
    <%= s.label :team1 %>
    <%= s.text_field :team1 %>
  </div>

  <div class = "teamname">
    <%= s.label :team2 %>
    <%= s.text_field :team2 %>
  </div>

  <div class = "datefield">
    <%= s.label :event_date %>
    <%= s.date_field :event_date %>
  </div>

  <div class = "datefield">
    <%= s.label :due_date %>
    <%= s.date_field :due_date %>
  </div>

  <div class = "notefield">
    <%= s.label :note %>
    <%= s.text_field :note %>
  </div>

  <div id = "promorowcontainer">
    <!--ROW SECTION-->
    <table>
      <tr>
        <td>Length</td>
        <td>Quantel Name</td>
        <td>S4M Name</td>
        <td>MCR #</td>
        <td>Purge Date</td>
      </tr>
      <%= s.fields_for :promos do |promo_form| %>
        <tr>
          <td>
            <%#=promo_form.label :length%>
            <%=promo_form.number_field :length%>
          </td>
          <td>
            <%#=promo_form.label :quantel_name%>
            <%=promo_form.text_field :quantel_name%>
          </td>
          <td>
            <%#=promo_form.label :s4m_name%>
            <%=promo_form.text_field :s4m_name%>
          </td>
          <td>
            <%#=promo_form.label :mcr_number%>
            <%=promo_form.number_field :mcr_number%>
          </td>
          <td>
            <%#=promo_form.label :purge_date%>
            <%=promo_form.date_field :purge_date%>
          </td>
        </tr>
      <% end %>

    </table>
  </div>


  <%= s.submit %>
<% end %>
<button><%= link_to "Cancel", sheets_path %></button>

<% if @property_names.size > 0 %>
  <script>
    $( "#sheet_property_name" ).autocomplete({source: <%= raw @property_names%>});
  </script>
<% end %>

<% if @teamnames.size > 0 %>
  <script>
    $( "#sheet_team1").autocomplete({source: <%= raw @teamnames%>});
    $( "#sheet_team2").autocomplete({source: <%= raw @teamnames%>});
  </script>
<% end %>