<table class="listtable">
	<tr>
		<td class="index_button">
			<%= link_to "View All-Sheet CSV", tbl_specs_path(format: "html") %>
		</td>
		<td class="index_button">
			<%= link_to "Download All-Sheet CSV", tbl_specs_path(format: "csv") %>
		</td>
	</tr>
	<% @sheets.each do |sheet| %>
		<tr>
			<td class="field_name field_name_wide">
				<%= link_to "#{sheet.team1} vs #{sheet.team2}", sheet_path(sheet) %>
			</td>
			<% if sheet.tbl_specs %>
				<td class="index_button">
					<%= link_to "View CSV", sheet_tbl_specs_path(sheet.id, format:"html") %>
				</td>
				<td class="index_button">
					<%= link_to "Download CSV", sheet_tbl_specs_path(sheet.id, format:"csv") %>
				</td>
			<% end %>
			<td class="delete_button">
				<%= link_to "Delete Sheet", sheet_path(sheet.id), confirm: "Are you sure you wish to delete this sheet?", method: :delete %>
			</td>
		</tr>
	<% end %>
</table>