
<%= form_for @user do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in @user.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class = "signuparea">
      <h1>Create New Account</h1>
      <div class = "field_name">EMAIL</div>
      <div class = "entry_area"><%=f.text_field :email %></div>
      <div class = "field_name">NICKNAME</div>
      <div class = "entry_area"><%=f.text_field :name %></div>
      <div class = "field_name">PASSWORD</div>
      <div class = "entry_area"><%=f.password_field :password %></div>
      <div class = "field_name">CONFIRM PASSWORD</div>
      <div class = "entry_area"><%=f.password_field :password_confirmation %></div>
      <div class = "signupbutton"><%= f.submit %></div>
  </div>
<% end %>
 