<table class="listtable">
	<tr>
		<td class="field_name">Name</td>
		<td class="field_name">Image Path</td>
		<td class="field_name">Logo Path</td>
	</tr>
	<% @newproperty = Property.new %>
	<%= form_for @newproperty do |np| %>
		<tr>
			<td class="entry_area"><%= np.text_field :name %></td>
			<td class="entry_area"><%= np.text_field :image_path %></td>
			<td class="entry_area"><%= np.text_field :logo_path %></td>
			<td class="item_button"><%= np.submit %></td>
		</tr>
	<% end %>

	<% @properties.each do |property| %>
		<tr>
			<%= form_for property do |p| %>
				<td class="entry_area"><%= p.text_field :name %></td>
				<td class="entry_area"><%= p.text_field :image_path %></td>
				<td class="entry_area"><%= p.text_field :logo_path %></td>
				<td class="item_button"><%= p.submit %></td>
				<td class="delete_button">
					<%= link_to "Delete Property", property_path(property.id), confirm: "Are you sure you wish to delete this property?", method: :delete %>
				</td>
			<% end %>
		</tr>
	<% end %>
</table>
