<!DOCTYPE html>
<html>
<head>
  <title>Bugpromo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div id = "topbar">
		<div id = "topbar_left">
      <%= link_to "Home", sheets_path %>
			<% if current_user %>
				<%= link_to "Create New Sheet", new_sheet_path %>
        <%= link_to "Manage Properties", properties_path %>
			<% else %>
				Log in to create new sheets.
			<% end %>
		</div>
		<div id = "topbar_right">
		  <% if current_user %>
        Welcome, <%= current_user.name %> | <%= link_to "Log out", session_path("current"), method: :delete %>
      <% else %>
        <%= link_to "Log In", new_session_path %> | <%= link_to "Sign Up", new_user_path %>
      <% end %>
		</div>
	</div>

    <div id="main">
      <% if flash[:notice] %>
        <p id= "notice"><%= flash[:notice]%>
      <% end %>
      <% if flash[:alert] %>
        <p id= "alert"><%= flash[:alert]%>
      <% end %>

      <%= yield %>

    </div>

</body>
</html>
